{% extends "AppActualiteBundle::index.html.twig" %}

{% block body %}
	<div class="container content_admin">
		<div class="row">
			<h1 class="text-center title_admin">{{ 'News' }} </h1>
		</div>

		{% for actu in actualite %}
			<div class="row">
				<article>
					<header>
						<h2>{{ actu.title }}</h2>
					</header>
					<div>
						{{ actu.text|truncate(450)|raw }}
						<a href="{{ path('app_actualite_show', {id: actu.id}) }}">Voir plus</a>
					</div>
					<footer>
						Date Publication
					</footer>
				</article>
			</div>
		{% endfor %}
	</div>
{% endblock %}
