{% extends "AppActualiteBundle::index.html.twig" %}

{% block title %}Actuality - {{ actualite.title }}{% endblock %}

{% block body %}
	<div class="container content_fo">
		<div class="row">
			<h1 class="text-center title_actu">{{ actualite.title }}</h1>
		</div>
		<div class="row">
			<img class="img_actuality text-center" src="{{ asset('images/'~actualite.visuel) }}">
			<div class="content_actuality">
				{{ actualite.text|raw }}
			</div>
			<footer>
				Date Publication
			</footer>
			</article>
		</div>
	</div>
{% endblock %}
